
@font-face {
    font-family: FreightSans;
    src: url('http://www.life-elia.eu/website/_fonts/freigsanboo-webfont.eot');
    src: url('http://www.life-elia.eu/website/_fonts/freigsanboo-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.life-elia.eu/website/_fonts/freigsanboo-webfont.woff') format('woff'),
         url('http://www.life-elia.eu/website/_fonts/freigsanboo-webfont.ttf') format('truetype'),
         url('http://www.life-elia.eu/website/_fonts/freigsanboo-webfont.svg#FreightSansBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: FreightSans;
    src: url('http://www.life-elia.eu/website/_fonts/freigsanmed-webfont.eot');
    src: url('http://www.life-elia.eu/website/_fonts/freigsanmed-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.life-elia.eu/website/_fonts/freigsanmed-webfont.woff') format('woff'),
         url('http://www.life-elia.eu/website/_fonts/freigsanmed-webfont.ttf') format('truetype'),
         url('http://www.life-elia.eu/website/_fonts/freigsanmed-webfont.svg#FreightSansMedium') format('svg');
    font-weight: bold;
	font-style: normal;
}


* {
	font: normal 16px/24px FreightSans, Arial;
	color: #545454;
}

.container-fluid  {
	padding: 0;
}

h1.title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0px;
	color: #414141;
}

caption {
	padding-top: 0px;
}

td {
	padding: 5px 0;
}

.table>thead>tr>th {
	border-bottom: 1px solid #bbb;
}

.table>tbody>tr>td {
	border-bottom: 1px solid #dedede;
	border-top: 0px;
}
